@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Zeus System</h1>
    <p class="lead">The Zeus System is designed to manage your employee and pay data at one place. It is the fastes and most user friendly employee management system ever created.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Employee Info</h2>
        <p>
            Store the info of all of your emplyees.
            One place with safer and faster environment.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Pay Info</h2>
        <p>Create, Edit and Delete the Pay info of your employees.</p>
    </div>
    <div class="col-md-4">
        <h2>Safe and Fast</h2>
        <p>A safe and fast way to do things and store information.</p>
    </div>
</div>